main
  h2 Main block
  p.green Green text.
  p.red Red text.
  .images
    figure
      figcaption jpg image
      img(src=require("../images/sky.jpg"))
    figure
      figcaption png image
      img(src=require("../images/sky2.png"))