@import "smart-grid.scss";
@import "mixin.scss", "class.scss";

//test the autoprefixer
::placeholder {
  color: gray;
}

//test the group-css-media-queries-loader
@media (min-width: 500px) {
  p {
    color: cornflowerblue;
  }
}
@media (min-width: 500px) {
  h2 {
    color: darkcyan;
  }
}

//test the smart-grid
body {
  @include wrapper-full;
}
.images {
  @include row-flex;
  justify-content: space-around;
}
figure {
  @include col;
  @include size(4);
  @include size-md(6);
  @include size-sm(8);
}
