@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");

@font-face {
  font-family: "Germania One";
  src: local("Germania One"), local("Germania-One"),
    url("../fonts/Germania-One.woff");
}

$red: hsl(18, 90%, 60%);
$green: hsl(130, 90%, 60%);

body {
  color: blue;
  background-image: url("../images/clouds.png");
  font-family: "Germania One", cursive;
  text-align: center;
}

img {
  @include md(box-shadow, darkcyan 1px 1px 5px 1px);
  @include sm-block {
    @include bor(darkcyan, double);
    box-shadow: aqua 1px 1px 5px 1px;
  }
  width: 100%;
}

.top {
  @include bor(green, dotted);
  font-family: "ZCOOL XiaoWei", serif;
}

.green {
  @include par($green, aliceblue);
  font-size: 25px;
  width: 300px;
  margin: auto;
}

.red {
  @include par($red, pink, dashed);
}
